* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root {
  --color-white: #FFFFFF;
  --color-dark: #1D232C;
  --color-gray: #F3F3F3;
  --color-green-1: #EEF357;
  --color-green-2: #CFD424;
}

.bg-white {
  background: var(--color-white);
}

.bg-dark {
  background: var(--color-dark);
}

.bg-gray {
  background: var(--color-gray);
}

.bg-green-1 {
  background: var(--color-green-1);
}

.bg-green-2 {
  background: var(--color-green-2);
}

.white {
  color: var(--color-white);
}

.dark {
  color: var(--color-dark);
}

.gray {
  color: var(--color-gray);
}

.green-1 {
  color: var(--color-green-1);
}

.green-2 {
  color: var(--color-green-2);
}

body {
  display: grid;
  grid-template-areas: "header" "presentation" "main" "meetings" "footer";
}
body h1 {
  font-size: 30px;
}
body header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
body header .logo-icon {
  display: none;
}
body header .logo {
  width: 35%;
}
body header p {
  display: none;
}
body header img {
  width: 15%;
}
body .presentation {
  grid-area: presentation;
}
body .presentation .presentation-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .presentation .presentation-text {
  padding: 30px;
}
body .presentation .presentation-text .divider {
  height: 2px;
  width: 75%;
  margin: 20px 0px;
}
body main {
  grid-area: main;
}
body main .container {
  margin: 30px;
}
body main .subcontainer-1 {
  position: relative;
  height: 30vh;
}
body main .subcontainer-1 img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s;
}
body main .subcontainer-1 img:hover {
  transform: scale(1.025);
}
body main .subcontainer-1 .wrapper {
  padding: 20px;
  position: absolute;
  bottom: 0;
}
body main .subcontainer-2 {
  background-image: url(../imgs/image-4.jpeg);
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}
body main .subcontainer-2 h2 {
  margin: 20px;
}
body main .subcontainer-3 {
  background-image: url(../imgs/image-3.jpeg);
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}
body main .subcontainer-3 h2 {
  margin: 20px;
}
body main .subcontainer-4 {
  background-image: url(../imgs/image-6.jpeg);
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}
body main .subcontainer-4 h2 {
  margin: 20px;
}
body main .subcontainer-5 {
  background-image: url(../imgs/image-2.jpeg);
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}
body main .subcontainer-5 h2 {
  margin: 20px;
}
body main .subcontainer-6 {
  background-image: url(../imgs/image-8.jpeg);
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}
body main .subcontainer-6 h2 {
  margin: 20px;
}
body .meetings {
  grid-area: meetings;
}
body footer {
  grid-area: footer;
  padding: 30px;
}/*# sourceMappingURL=style.css.map */