* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root {
  --color-white: #FFFFFF;
  --color-dark: #1D232C;
  --color-gray: #F3F3F3;
  --color-gray-2: #CCCCCC;
  --color-green-1: #EEF357;
  --color-green-2: #CFD424;
}

.bg-white {
  background: var(--color-white);
}

.bg-dark {
  background: var(--color-dark);
}

.bg-gray {
  background: var(--color-gray);
}

.bg-gray-2 {
  background: var(--color-gray-2);
}

.bg-green-1 {
  background: var(--color-green-1);
}

.bg-green-2 {
  background: var(--color-green-2);
}

.white {
  color: var(--color-white);
}

.dark {
  color: var(--color-dark);
}

.gray {
  color: var(--color-gray);
}

.gray-2 {
  color: var(--color-gray-2);
}

.green-1 {
  color: var(--color-green-1);
}

.green-2 {
  color: var(--color-green-2);
}

body {
  display: grid;
  grid-template-areas: "header" "presentation" "main" "meetings" "footer";
}
body h1 {
  font-size: 30px;
}
body header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
body header .logo-icon {
  display: none;
}
body header .logo {
  width: 35%;
}
body header a {
  display: none;
  text-decoration: none;
  color: #1D232C;
}
body header img {
  width: 15%;
}
body .presentation {
  grid-area: presentation;
  display: flex;
  flex-direction: column;
}
body .presentation .presentation-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .presentation .presentation-text {
  padding: 30px;
}
body .presentation .presentation-text p {
  font-size: 20px;
}
body .presentation .presentation-text .divider {
  height: 2px;
  width: 75%;
  margin: 20px 0px;
}
body main {
  grid-area: main;
}
body main h2 {
  margin: 30px 0px 20px 40px;
}
body main .wrapper {
  display: grid;
  justify-items: center;
  width: 100%;
}
body main .wrapper .card {
  margin: 20px;
  width: 80%;
  height: 400px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
body main .wrapper .card:hover {
  transform: translateY(20px);
}
body main .wrapper .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  background: linear-gradient(rgba(5, 7, 12, 0.2), rgba(5, 7, 12, 0.2));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
body main .wrapper .card:hover:before {
  opacity: 1;
}
body main .wrapper .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
body main .wrapper .card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
body main .wrapper .card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
body main .wrapper .card h2 {
  margin-bottom: 10px;
}
body .meetings {
  grid-area: meetings;
  margin: 20px 0px;
  width: 100%;
  height: auto;
  padding: 30px;
}
body .meetings .meetings-title {
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}
body .meetings .meetings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .meetings .meetings-wrapper .meetings-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
body .meetings .meetings-wrapper .meetings-card h3 {
  margin-bottom: 10px;
}
body footer {
  grid-area: footer;
  padding: 30px;
  margin-top: 30px;
}
body footer .footer-container {
  display: flex;
  justify-content: space-between;
}
body footer .footer-container h3 {
  font-size: 16px;
  margin-bottom: 15px;
}
body footer .footer-container p {
  font-size: 14px;
  margin-bottom: 8px;
}
body footer .footer-container .icons {
  display: flex;
  justify-content: space-around;
}
body footer .divider {
  height: 2px;
  width: 100%;
  margin: 30px 0px;
}
body footer .footer-final-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-areas: "header header" "presentation presentation" "main main" "meetings meetings" "footer footer";
  }
  body .wrapper {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 992px) {
  body {
    grid-template-areas: " header presentation presentation" "header main main" "header meetings meetings" "footer footer footer";
    grid-template-columns: 15% 1fr;
  }
  body h1 {
    font-size: 40px;
  }
  body header {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  body header .logo {
    display: none;
  }
  body header .logo-icon {
    display: block;
    width: 100%;
  }
  body header a {
    display: block;
    margin: 20px 0px;
  }
  body header .header-icon {
    display: none;
  }
  body .presentation {
    flex-direction: row;
    height: 70vh;
  }
  body .presentation .presentation-img {
    width: 50%;
  }
  body .presentation .presentation-text {
    width: 50%;
    padding: 40px;
  }
  body .presentation .presentation-text p {
    font-size: 25px;
  }
  body .presentation .presentation-text .divider {
    margin: 30px 0px;
  }
  body main h2 {
    font-size: 30px;
  }
  body main .wrapper {
    grid-template-columns: auto auto auto;
  }
  body .meetings .meetings-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */